@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Kanit:wght@600&family=Lora:ital,wght@1,500&family=Mooli&family=Pacifico&family=Poppins:wght@300;400&family=Space+Grotesk:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
}

nav{
    margin-top: 0px;
    text-align: right;
}
.Logo{
    float: left;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: white;
    font-size: x-large;
    background-color: #EFB495;
    border-right: 1px solid lightslategray;
    border-radius: 20px;
    text-transform: uppercase;
    transition: all 0.2s linear;
    margin-top: 5px;
    margin-left: 10px;
}
nav ul{
    display: inline-block;
    list-style: none;
    transform: skew(-25deg);
}
nav ul li{
    background-color: #D0E7D2;
    float: left;
    border-right: 1px solid lightslategray;
    box-shadow: 1.95px 1.95px 2.6px rgb(0, 0, 0, 1);
    text-transform: uppercase;
    color: #555;
    font-weight: 400;
    transition: all 0.2s linear;
    
}
nav ul li:hover{
    background-color: #0984e3;
    color: white;
}
a{
    color: inherit;
    display: block;
    text-decoration: none;
    padding: 10px 30px;
}
nav ul li:first-child{
    border-radius: 7px 0 0 7px;
}
nav ul li:last-child{
    border-radius: 0 7px 7px 0;
}
.menu-line{
    height: 3px;
    width: 20px;
    background-color: #5B0888;
    margin-bottom: 3px;

}
.menu{
    cursor: pointer;
    display: none;
}
@media all and (max-width:640px){
    nav{
        flex-direction: column;
    }
    nav li{
        display: block;
        padding: 10px 0;
    }
    ul{
        text-align: center;
        padding: 0;
        display: none;
    }
    .menu{
        display: block;
        position: absolute;
        right: 20px;
        top: 25px;
    }
    .showmenu{
        display: block;
    }
}